[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
marshmallow = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
importlib-metadata = "*"
importlib-resources = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"